@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 600;
}

.heading {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #f4faff;
}

body {
  color: #24252a;
  font-family: "Montserrat", sans-serif;
  background-color: #24252a;
}
body .container {
  margin: 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
body .container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
}
body .container header nav .burger-menu-icon {
  display: none;
}
body .container header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .container header nav ul li {
  margin: 0 10px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: #f4faff;
  max-width: 100%;
}
body .container header nav ul li:before, body .container header nav ul li:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #de541e;
}
body .container header nav ul li:before {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .container header nav ul li:after {
  opacity: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .container header nav ul li:hover:before, body .container header nav ul li:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body .container header nav ul li:hover:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .container header nav ul li:hover:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .container header nav h1 {
  color: #6153cc;
}
body .container header nav i {
  font-size: 20px;
  color: #c0e8f9;
}
body .container header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}
body .container header .hero img {
  height: 600px;
  width: auto;
  border-radius: 30%;
}
body .container header .hero p {
  font-size: 30px;
  padding: 80px 80px 30px 0;
  color: #f4faff;
}
body .container header .hero p span {
  color: #de541e;
  font-weight: 600;
}
body .container header .hero a {
  margin: 0 0;
  padding: 10px 10px;
  border: 1px solid #c0e8f9;
  border-radius: 10px;
  outline: none;
  background-color: #24252a;
  color: #c0e8f9;
  font-size: 15px;
  cursor: pointer;
}
body .container .abme {
  padding: 20px;
}
body .container .abme h1 {
  padding: 80px;
  text-align: center;
  color: #c0e8f9;
}
body .container .abme .info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "fcont scont" "fcont tcont";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 40px 100px;
  -ms-grid-columns: 300px 100px 300px;
  grid-template-columns: 300px 300px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 20px;
}
body .container .abme .info .info__content {
  padding: 20px;
  word-wrap: break-word;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-align: center;
  color: #f4faff;
}
body .container .abme .info .info__content:before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #6153cc;
  border-left: 2px solid #6153cc;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
body .container .abme .info .info__content:after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #6153cc;
  border-right: 2px solid #6153cc;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
body .container .abme .info .info__content p:before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #6153cc;
  border-left: 2px solid #6153cc;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
body .container .abme .info .info__content p:after {
  bottom: 2px;
  right: -2px;
  border-bottom: 2px solid #6153cc;
  border-right: 2px solid #6153cc;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
body .container .abme .info .info__content:before, body .container .abme .info .info__content:after,
body .container .abme .info p:before,
body .container .abme .info p:after {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}
body .container .abme .info .fcont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: fcont;
}
body .container .abme .info .fcont span {
  color: #de541e;
}
body .container .abme .info .scont {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: scont;
}
body .container .abme .info .scont span {
  color: #6153cc;
}
body .container .abme .info .tcont {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tcont;
}
body .container .abme .info .tcont span {
  color: #6153cc;
}
body .container .skills h1 {
  padding: 80px;
  text-align: center;
  color: #c0e8f9;
}
body .container .skills .skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}
body .container .skills .skills__content .soft-skills {
  color: #f4faff;
  width: 14rem;
}
body .container .skills .skills__content .soft-skills .soft-skills__list .soft-skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
body .container .skills .skills__content .soft-skills .soft-skills__list .soft-skills__item span {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #6153cc;
  color: #24252a;
  font-weight: 600;
}
body .container .skills .skills__content .hard-skills {
  color: #f4faff;
  width: 14rem;
}
body .container .skills .skills__content .hard-skills .hard-skills__list {
  margin-right: 20px;
}
body .container .skills .skills__content .hard-skills .hard-skills__list .hard-skills__item {
  padding: 10px 0;
}
body .container .skills .skills__content .hard-skills .hard-skills__list span {
  display: inline-block;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #6153cc;
  margin-right: 5px;
}
body .container .skills .skills__content .hard-skills .hard-skills__list .checked {
  background-color: #6153cc;
}
body .container .skills .skills__content .skills__line {
  border-left: 3px solid #de541e;
  border-radius: 20px;
  height: 450px;
}
body .container .portfolio {
  color: #f4faff;
}
body .container .portfolio a {
  color: #c0e8f9;
}
body .container .portfolio h1 {
  padding: 80px;
  text-align: center;
  color: #c0e8f9;
}
body .container .portfolio .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .container .portfolio .portfolio__list .portfolio__item {
  border: 2px solid #f4faff;
  border-radius: 30px;
  width: 300px;
  height: 200px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body .container .portfolio .portfolio__list .portfolio__item p {
  font-size: 20px;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body .container .portfolio .portfolio__list .portfolio__item a {
  border: 1px solid #de541e;
  border-radius: 30px;
  opacity: 0;
  padding: 10px 20px;
  -webkit-transition: all 0.3s cubic-bezier(0.27, 0.24, 1, 0.6);
  transition: all 0.3s cubic-bezier(0.27, 0.24, 1, 0.6);
}
body .container .portfolio .portfolio__list .portfolio__item a:hover {
  background-color: #de541e;
}
body .container .portfolio .portfolio__list .portfolio__item .blur {
  border: 2px solid #f4faff;
  border-radius: 30px;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body .container .portfolio .portfolio__list .portfolio__item:hover .blur {
  opacity: 0.9;
  background-color: #6153cc;
}
body .container .portfolio .portfolio__list .portfolio__item:hover p {
  opacity: 1;
  z-index: 3;
}
body .container .portfolio .portfolio__list .portfolio__item:hover a {
  opacity: 1;
  z-index: 3;
}
body .container .portfolio .portfolio__list .weeding {
  background-image: url(../stuff/images/WA.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: 1;
  position: relative;
}
body .container .portfolio .portfolio__list .weeding p {
  opacity: 0;
}
body .container footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4faff;
}
body .container footer .contacts .contacts__info span {
  color: #de541e;
}
body .container footer .contacts .contacts__info p {
  font-size: 20px;
  padding: 20px;
}
body .container footer .contacts .contacts__sm i {
  font-size: 30px;
  color: #f4faff;
  padding: 20px;
}

@media screen and (max-width: 1250px) {
  body .container header .hero img {
    height: 500px;
  }
  body .container main .abme .portfolio .portfolio__list .portfolio__item {
    width: 250px;
    height: 150px;
  }
  body .container main .abme .portfolio .portfolio__list .portfolio__item .blur {
    width: 250px;
    height: 150px;
  }
}
@media screen and (max-width: 1100px) {
  body .container header .hero p {
    font-size: 25px;
    padding: 80px 0 30px 0;
  }
  body .container header .hero img {
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  body .container header nav ul li {
    font-size: 15px;
  }
  body .container main .abme .heading {
    font-size: 24px;
  }
  body .container footer .contacts .contacts__info p {
    font-size: 15px;
    padding: 15px;
  }
  body .container footer .contacts .contacts__sm i {
    font-size: 25px;
    padding: 10px;
  }
}
@media screen and (max-width: 800px) {
  body .container header .hero p {
    font-size: 20px;
  }
  body .container header .hero img {
    height: 300px;
  }
  body .container main .abme .heading {
    font-size: 24px;
  }
  body .container main .abme .info {
    grid-gap: 40px 50px;
  }
  body .container main .abme .info .info__content p {
    font-size: 18px;
  }
  body .container footer .contacts .contacts__info p {
    font-size: 15px;
    padding: 15px;
  }
  body .container footer .contacts .contacts__sm i {
    font-size: 25px;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  body .container header {
    height: 100vh;
  }
  body .container header .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container header .hero div {
    text-align: center;
  }
  body .container header .burger-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 0;
  }
  body .container header .burger-menu h1 {
    padding: 20px 20px;
  }
  body .container header .burger-menu .burger-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    padding: 100px 50px;
    z-index: 20;
    left: -100%;
    background-color: #202020;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 100vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  body .container header .burger-menu .burger-ul ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  body .container header .burger-menu .burger-ul ul li {
    margin: 10px;
    text-align: center;
  }
  body .container header .burger-menu .burger-ul ul li::after {
    display: none;
  }
  body .container header .burger-menu .burger-ul ul li::before {
    display: none;
  }
  body .container header .burger-menu .burger-ul ul li a {
    color: #f4faff;
  }
  body .container header .burger-menu i {
    display: none;
  }
  body .container header .burger-menu .burger-menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #24252a;
  }
  body .container header .burger-menu .burger-menu-icon span {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #f4faff;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
  body .container header .burger-menu .burger-menu-icon span::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 3px;
    width: 30px;
    background-color: #f4faff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .container header .burger-menu .burger-menu-icon span::before {
    content: "";
    position: absolute;
    top: 10px;
    height: 3px;
    width: 30px;
    background-color: #f4faff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .container header .burger-menu-active .burger-menu-icon span {
    background-color: transparent;
  }
  body .container header .burger-menu-active .burger-menu-icon span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body .container header .burger-menu-active .burger-menu-icon span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  body .container header .burger-menu-active .burger-ul {
    left: 0%;
  }
  body .container main h1 {
    padding: 0 0 80px 0;
  }
  body .container main .abme h1 {
    padding: 40px;
  }
  body .container main .abme .info {
    -ms-grid-rows: auto 30px auto 30px auto;
        grid-template-areas: "fcont " "scont " "tcont ";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  body .container main .abme .info .info__content p {
    font-size: 15px;
  }
  body .container main .skills .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container main .skills .skills__content .soft-skills {
    width: 10rem;
  }
  body .container main .skills .skills__content .soft-skills .soft-skills__list .soft-skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    max-width: 150px;
  }
  body .container main .skills .skills__content .soft-skills .soft-skills__list .soft-skills__item span {
    margin-left: 20px;
    height: 2em;
    width: 2em;
    padding: 5px;
    border-radius: 50%;
    background-color: #6153cc;
    color: #24252a;
    font-weight: 600;
    font-size: 12px;
  }
  body .container main .skills .skills__content .skills__line {
    border-top: 3px solid #de541e;
    border-radius: 20px;
    width: 80vw;
    height: auto;
    margin: 20px 0;
  }
  body .container main .abme .info > .fcont {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  body .container main .abme .info > .scont {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  body .container main .abme .info > .tcont {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}