@use '../abstracts' as *;

footer{
    height: 60vh;
    h1{
        padding: 80px;
        text-align: center;
        color: $add;
    }

    .contacts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $sec;

        .contacts__info{
            span{
                color: $add2;
            }
            p{
                font-size: 20px;
                padding: 20px;
            }
        }

        .contacts__sm{
            i{
                font-size: 30px;
                color: $sec;
                padding: 20px;
            }
        }
    }
}