@use '../abstracts' as *;

header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;

        .burger-menu-icon{
            display: none;
        }

        ul{
            display: flex;
            
            li{
                margin: 0 10px;
                font-weight: 500;
                font-size: 18px;
                position: relative;
                cursor: pointer;
                color: $sec;
                max-width: 100%;
                
                &:before,
                &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0; right: 0;
                height: 2px;
                background-color: $add2;
                }

                &:before {
                opacity: 0;
                transform: translateY(- $distance);
                transition: transform 0s $easeOutBack, opacity 0s;
                }

                &:after {
                opacity: 0;
                transform: translateY(calc($distance / 2));
                transition: transform $duration $easeOutBack, opacity $duration;
                }

                &:hover{
                    &:before,
                    &:after {
                    opacity: 1;
                    transform: translateY(0);
                    }

                    &:before {
                    transition: transform $duration $easeOutBack, opacity $duration;
                    }

                    &:after {
                    transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                    }
                }
            }
        
        }

        h1{
            color: $add3;
        }
        i{
            font-size: 20px;
            color: $add;
        }
    }
        
    

    .hero{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;

        img{
            height: 600px;
            width: auto;
            border-radius: 30%;
        }

        p{
            font-size: 30px;
            padding: 80px 80px 30px 0;
            color: $sec;

            span{
                color: $add2;
                font-weight: 600;
            }
        }

        a{
            margin: 0 0;
            padding: 10px 10px;
            border: 1px solid $add;
            border-radius: 10px;
            outline: none;
            background-color: $main;
            color: $add;
            font-size: 15px;
            cursor: pointer;
        }
    }
}